{% load cms_tags %}

<div class="block">
  <div class="container">
    {% for page in instance.get_published_child_pages %}
    <section class="step">
      <span class="step-label">{{ forloop.counter|stringformat:"02d" }}</span>

      <div class="step-wrapper">
        <h2 class="step-title">
          <a href="{{ page.get_absolute_url }}">
            {{ page.get_title }}
          </a>
        </h2>

        <div class="step-col">
          <div class="step-subtitle">{{ page.metaattributes.lead }}</div>
        </div>

        <div class="step-col">
          <div class="step-content">
            {{ page.metaattributes.description }}
          </div>
        </div>

        <a href="{{ page.get_absolute_url }}" class="button icon step-button">
          {% include 'includes/svg_icon.html' with icon_name="forward-button" %}
        </a>
      </div>
    </section>
    {% endfor %}
  </div>
</div>
