<section class="step has-detail">
  <span class="step-label">
    {% include 'includes/svg_icon.html' with icon_name=instance.svg_icon %}
  </span>

  <div class="step-wrapper">
    <div class="step-wrapper-inner">
      <h2 class="step-title">{{ instance.title }}</h2>

      <div class="step-col">
        <div class="step-content">
          {{ instance.body|safe }}
        </div>
      </div>

      <div class="step-col">
        {% with files=instance.step_files.all links=instance.step_links.all %}

        <h3 class="step-subtitle">Tools</h3>

        {% for link in links %}
        {% if link.category == "tools" %}
          {% include 'cms_plugins/steps/_step_link.html' %}
        {% endif %}
        {% endfor %}

        {% for file in files %}
        {% if file.category == "tools" %}
          {% include 'cms_plugins/steps/_step_file.html' %}
        {% endif %}
        {% endfor %}

        <h3 class="step-subtitle">Examples</h3>

        {% for link in links %}
        {% if link.category == "examples" %}
          {% include 'cms_plugins/steps/_step_link.html' %}
        {% endif %}
        {% endfor %}

        {% for file in files %}
        {% if file.category == "examples" %}
          {% include 'cms_plugins/steps/_step_file.html' %}
        {% endif %}
        {% endfor %}

        {% endwith %}
      </div>
    </div>
  </div>
</section>
