<nav aria-label="Pagination">
  <ul class="pagination">
    {% if object.has_previous %}
    <li class="pagination-previous">
      <a href="?page={{ object.previous_page_number }}" aria-label="Previous page">
        <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/img/sprite.svg#chevron"></use></svg>
        Previous <span class="show-for-sr">page</span>
      </a>
    </li>
    {% endif %}

    {% for page in object.paginator.page_range %}
    <li class="{% if object.number == page %}current{% endif %}">

      {% if object.number != page %}
      <a href="?page={{ page }}" aria-label="{{ page.forloop.counter }}">
      {% endif %}

        {{ page }}

      {% if object.number != page %}
      </a>
      {% endif %}

    </li>
    {% endfor %}

    {% if object.has_next %}
    <li class="pagination-next">
      <a href="?page={{ object.next_page_number }}" aria-label="Next page">
        Next <span class="show-for-sr">page</span>
        <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/img/sprite.svg#chevron"></use></svg>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
