<div class="container">
  <section class="step-pagination">
    <div class="pagination-buttons">
      {% spaceless %}
      {% if prev %}
        <a href="{{ prev.get_absolute_url }}" class="button prev">
          {% include 'includes/svg_icon.html' with icon_name="chevron" %}

          {% if prev_num and instance.show_numbers %}
            <span class="num">{{ prev_num|stringformat:"02d" }}.</span>
          {% endif %}

          {{ prev }}
        </a>
      {% endif %}

      {% if next %}
        <a href="{{ next.get_absolute_url }}" class="button next">
          {% if next_num and instance.show_numbers %}
            <span class="num">{{ next_num|stringformat:"02d" }}.</span>
          {% endif %}

          {{ next }}

          {% include 'includes/svg_icon.html' with icon_name="chevron" %}
        </a>
      {% endif %}
      {% endspaceless %}
    </div>

    {% with parent=instance.page.get_parent %}
    {% if parent %}
    <div class="pagination-back">
      <a href="{{ parent.get_absolute_url }}" class="button expanded yellow">Back to {{ parent }}</a>
    </div>
    {% endif %}
    {% endwith %}
  </section>
</div>
