/*
  CASE STUDIES
*/

.case-study-search {
  @include block;
  @include container;
  padding-right: 0;
  padding-left: 0;
}

.case-study-search .card {
  .card-title {
    min-height: 3.125rem;
  }
}

//
// Case Study Similar Examples
//

.case-study-similar-examples {
  @include block;
  @include topographic-background($color-yellow, "topo-3.svg");
  background: $color-beige;

  .container {
    @include xy-grid-container(62rem);
  }

  .block-header {
    font-weight: 700;
    color: $color-navy-light;
  }

  .card-grid {
    padding-top: 3rem;
    padding-bottom: 0;

    @include breakpoint(xlarge) {
      @include xy-grid-layout(4, '.card');
      @include collapse-gutters;
    }
  }

  .card-grid .card {
    background: $color-white;
  }
}
