.stats-content,
.related-content {
  padding: $global-margin * 1.5;
}

.stats-content {
  background: $color-beige;
}

.stat {
  display: inline-block;
  margin-right: .5rem;
  padding: .5em;
  background: $color-white;
  font-size: 1.5rem;
  font-weight: $global-weight-bold;
  color: $color-pink;
}

.taglist {
  @include bottom-space(2);
  font-size: 0.875rem;
  color: $color-gray;
}

.case-study-page {
  .subpage-hero {
    @include bottom-space(1);
  }

  .stats-content {
    @include bottom-space(2);
  }

  .content-wsidebar {
    @include bottom-space(3);
  }
}
