//
// Case Study Search Filters
//

.case-study-search-filters {
  @include accordion-container;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  width: 100%;
}

.case-study-search-list {
  @include accordion-content;
  margin-bottom: 0;
  margin-left: 0;
}

.case-study-search-wrapper {
  @include accordion-item;
}

.case-study-search-heading {
  @include accordion-title;
  font-family: $body-font-family;
  font-size: 0.6875rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-black;
}

.case-study-search-item {
  font-size: 0.875rem;
  color: $color-navy;
  list-style-type: none;

  &:hover {
    cursor: pointer;
  }
}

.case-study-search-item label {
  color: $color-navy;
}

@include breakpoint(medium) {
  .is-active > .case-study-search-heading,
  .case-study-search-heading {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    border: none;

    &:before {
      content: "";
    }

    &:hover {
      background-color: white;
      color: $color-black;
    }
  }

  .case-study-search-list {
    margin-bottom: $global-margin * 1.5;
    padding: 0;
    border: none;
  }

  :last-child:not(.is-active) > .case-study-search-heading,
  :last-child > .case-study-search-list:last-child {
    border-bottom: none;
  }
}
