/*
  CASE STUDIES
*/

.case-study-search {
  @include block;
  @include container;
}

.case-study-search-heading {
  font-family: $body-font-family;
  font-size: 0.6875rem;
  text-transform: uppercase;
}

.case-study-search .card {
  .card-title {
    min-height: 3.125rem;
  }
}

.case-study-similar-examples {
  @include block;
  @include topographic-background($color-yellow, "topo-3.svg");
  background: $color-beige;

  .container {
    @include xy-grid-container(62rem);
  }

  .block-header {
    font-weight: 700;
    color: $color-navy-light;
  }

  .card-grid {
    padding-top: 3rem;
    padding-bottom: 0;

    @include breakpoint(xlarge) {
      @include xy-grid-layout(4, '.card');
      @include collapse-gutters;
    }
  }

  .card-grid .card {
    background: $color-white;
  }
}

.case-study-search-list {
  margin-bottom: $global-margin * 1.5;
  margin-left: 0;
}

.case-study-search-item {
  font-size: 0.875rem;
  list-style-type: none;
}

.case-study-search-link {
  display: block;
  text-decoration: none;
  color: $color-navy;

  input[type='checkbox'] {
    margin-right: $global-margin / 2;
  }
}

@include breakpoint(large) {
  .case-study-search-filters {
    @include xy-cell(3);
  }

  .case-study-search-results {
    @include xy-cell(9);

    .card-grid {
      padding-top: 0;
    }
  }
}
