.container {
  @include container;
}

.content-wsidebar {
  @include breakpoint(large) {
    @include collapse-gutters;

    .sidebar {
      order: 0;
      @include xy-cell(4);
    }

    .content {
      order: 1;
      @include xy-cell(8);
    }
  }

  &.sidebar-right {
    @include breakpoint(large) {
      .content {
        order: 0;
      }

      .sidebar {
        order: 1;
      }
    }
  }
}

.subpage {
  .site-main {
    @include bottom-space(3);
  }

  // TODO: Move to hero file (?)
  .subpage-hero {
    @include bottom-space;

    @include breakpoint(medium) {
      @include bottom-space(4);
    }
  }
}
