/*
  SITE FOOTER
*/

.site-footer {
  @include block;
  background: #324955;
  color: white;
}

.site-footer a {
  @extend %nav-item;
  color: white;
}

.site-footer {
  @include breakpoint(large) {
    .logo {
      width: 210px;
    }
  }
}
