/*
  SITE HEADER
*/

.site-header {
  padding-top: $global-margin;
  padding-bottom: $global-margin;

  .menu {
    display: none;

    font-family: $navigation-font-family;
    text-transform: uppercase;
  }
}

.site-header {
  @include breakpoint(large) {
    .menu {
      display: flex;
    }
  }
}
