/*
  SITE HEADER
*/

.site-header {
  padding-top: $global-margin;
  padding-bottom: $global-margin;
  
  .menu {
    display: none;
  }
}


.site-header {
  @include breakpoint(large) {
    .menu {
      display: block;
    }
  }
}
