/*
  SITE HEADER & NAVIGATION
*/

.site-header {
  padding-top: $global-margin;
  padding-bottom: $global-margin;

  .menu {
    display: none;
  }

  .menu a {
    margin: auto;
    color: $body-font-color;
  }
}

// Setup Navigation
.site-header,
.off-canvas {
  a {
    @extend %nav-item;
  }
}

.off-canvas a {
  color: white;
}

// Handle Responsiveness
.site-header {
  @include breakpoint(large) {
    padding-top: $global-margin * 2;

    .logo {
      max-width: 160px;
    }

    .menu {
      display: flex;
    }
  }
}
