/*
  SITE FOOTER
*/

.site-footer {
  @include block;
  background: $site-footer-color;
  color: $color-white;

  a {
    color: $color-white;
  }
}

.site-footer .menu a {
  padding-right: 0;
  padding-left: 0;
  font-weight: 400;
}

.site-footer-primary,
.site-footer-aux {
  a {
    @include reverse-link-effects;
  }
}

.site-footer-primary .menu {
  flex-direction: column;
}

.site-footer-primary p {
  font-size: 0.9rem;
}

.site-footer-primary a {
  @extend %nav-item;
  padding-left: 0;
}

.site-footer-primary li {
  display: block;
  width: 100%;
}

.site-footer-primary,
.site-footer-content {
  @include bottom-space(2);
  width: 100%;
}

.site-footer-content {
  .logo-container {
    text-align: center;
  }

  .logo {
    display: inline-block;
    padding: 4%;
    width: 45%;
    opacity: 0.5;
    filter: contrast(0) brightness(2);
  }
}

.site-footer-content h6 {
  font-weight: normal;
}

.site-footer-aux {
  @include container;
  position: relative;
  flex-direction: column;
  width: 100%;

  &:before {
    @include bottom-space;
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: #597F82;
    content: "";
  }
}

.site-footer-aux .menu li {
  display: block;
}

.site-footer-aux .menu a {
  padding: 0.7rem;

  &:first-child {
    padding-left: 0;
  }
}

.site-footer-aux small,
.site-footer-aux a {
  font-size: .8rem;
}

@include breakpoint(large) {
  .site-footer .container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  .site-footer-primary {
    @include xy-cell(4);
    @include collapse-gutters(margin);
  }

  .site-footer-content {
    @include xy-cell(4);
    @include collapse-gutters(margin);
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
  }

  .site-footer-aux {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .site-footer-aux .menu li {
    display: inline-block;
  }
}
