[run]
source = rh
branch = True
omit =
    *tests*
    *migrations*
    rh/settings/*
    rh/wsgi.py
    rh/management/commands/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__

[html]
directory = /tmp/coverage_reports/rapidpro_for_health/
