# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Javascript compilation
dist/
.cache/
yarn-error.log

# Distribution / packaging
*.egg-info/
.installed.cfg
*.egg
node_modules/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

*local.py
var

# dotenv
.env

# Docker data
.data

# virtualenv
.venv
venv/
ENV/

# IntelliJ project files
.idea
*.iml

# System Files
.DS_Store

# Databse Dumps
*.db

# Tests/Coverage reports
*.coverage
.pytest_cache

# Styleguide
/rh/client/static/styleguide
