[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "==1.11.7"
"psycopg2" = "==2.7.1"
django-model-utils = "==3.0.0"
django-cms = "==3.4.5"
django-filer = "==1.3"
djangocms-text-ckeditor = "==3.5.0"
cmsplugin-filer = "==1.1.3"
djangocms-link = "==2.1.2"
"django-select2" = "==5.11.0"
easy-thumbnails = "==2.4.2"
"e1839a8" = {path = ".", editable = true}
dj-database-url = "==0.4.2"
whitenoise = "==3.3.1"
uwsgi = "==2.0.15"


[dev-packages]

django-debug-toolbar = "*"
djangocms-testing = {git = "https://github.com/nicolaslara/djangocms_testing.git", editable = true}
coverage = "*"
ipdb = "*"


[requires]

python_version = "3.6.4"
