<blockquote class="blockquote {{ modifier_class }}">
  <p class="blockquote-content">
    With RapidPro, we are able to reach every child in real-time with a single SMS and communicate with them on immunisation campaign.
  </p>

  {{#if_equal modifier_class "has-img"}}

    <cite class="blockquote-author">
      <img src="https://ll-unicef-rph.s3.amazonaws.com/filer_public_thumbnails/filer_public/f5/29/f529c041-861f-4795-9b90-1b527797dfec/_unicef_uni41366_estey.jpg__1000x750_q85_crop_subsampling-2.jpg" class="blockquote-author-image" />

      <div class="blockquote-author-container">
        <span class="blockquote-author-name">
          Givas Kalungu
        </span>

        <span class="blockquote-author-title">
          C4D Officer UNICEF, Zambia
        </span>
      </div>
    </cite>

  {{ else }}

    <cite class="blockquote-author">
      <span class="blockquote-author-name">
        Givas Kalungu
      </span>

      <span class="blockquote-author-title">
        C4D Officer UNICEF, Zambia
      </span>
    </cite>

  {{/if_equal}}
</blockquote>
