<blockquote class="blockquote">
  <svg width="36" height="24" version="1"
       class="icon"
       xmlns="http://www.w3.org/2000/svg">
      <g fill="#FFF" fill-rule="evenodd">
        <path d="M0 0v24h13V12H4V0zM22 0v24h13V12h-9V0z"/>
      </g>
  </svg>

  <p class="blockquote-content">
    With RapidPro, we are able to reach every child in real-time with a single SMS and communicate with them on immunisation campaign.
  </p>

  <footer>
    <cite class="blockquote-author">
      <p class="blockquote-author-name">
        Givas Kalungu
      </p>

      <p class="blockquote-author-title">
        C4D Officer UNICEF, Zambia
      </p>
    </cite>
  </footer>
</blockquote>
