{{#if_equal modifier_class "has-img"}}
  <div class="card-grid">
    <section class="card light {{modifier_class}}">
      <header class="card-header">
        <img
        src="https://ll-unicef-rph.s3.amazonaws.com/filer_public_thumbnails/filer_public/f5/29/f529c041-861f-4795-9b90-1b527797dfec/_unicef_uni41366_estey.jpg__1000x750_q85_crop_subsampling-2.jpg"
        alt="Image Alt Text"
        class="card-img">

        <span class="card-subtitle">Nicaragua</span>
        <h3 class="card-title">mVaccination</h3>
      </header>

      <div class="card-content">
        <p>Through adaptation of generic functions of RapidPro, RapidPro Health provides a suite of functions for enhancing communication and action in health interventions.</p>
        <span>Immunisation</span>
      </div>

      <div class="card-actions">
        <a href="#" class="button">Learn More</a>
      </div>
    </section>
  </div>
{{else}}
  <section class="card {{modifier_class}}">
    <header class="card-header">
      <svg
        width="48" height="48" version="1.1"
        viewBox="0 0 100 100"
        class="icon"
        xmlns="http://www.w3.org/2000/svg">
        <path d="m49.949 38.398c-10.5 0-18.898 8.5-18.898 19s8.3984 18.898 18.898 18.898 18.898-8.6016 18.898-19c0.003906-10.496-8.3984-18.898-18.898-18.898zm9.9023 21.902h-6.9023v7h-6v-7h-6.8984v-6h6.8984v-6.8984h6v6.8984h6.8984v6z" fill="currentColor"/>
        <path d="m83 24h-14.699v-5.1992c0-6.125-4.7188-11.301-10.301-11.301h-16c-5.582 0-10.301 5.1758-10.301 11.301v5.1992h-14.699c-6.6289 0-12 5.3711-12 12v41c0 6.6289 5.3711 12 12 12h66c6.6289 0 12-5.3711 12-12v-41c0-6.6289-5.3711-12-12-12zm-46.301-5.1992c0-3.3555 2.4766-6.3008 5.3008-6.3008h16c2.8242 0 5.3008 2.9453 5.3008 6.3008v5.1992h-26.602zm53.301 58.199c0 3.8594-3.1406 7-7 7h-66c-3.8594 0-7-3.1406-7-7v-41c0-3.8594 3.1406-7 7-7h66c3.8594 0 7 3.1406 7 7z" fill="currentColor"/>
      </svg>

      <h3 class="card-title">Registration</h3>
    </header>

    <div class="card-content">
      Gather and maintain vital patient information with IDs
    </div>
  </section>
{{/if_equal}}
