<div class="card-grid">
  <section class="card">
    <header class="card-header">
      <h3 class="card-title">Page title</h3>
    </header>
    <div class="card-content">
      Page description
    </div>
  </section>

  <section class="card">
    <a href="#">
      <header class="card-header">
        <h3 class="card-title">Yet Another Card title</h3>
      </header>
      <div class="card-content">
        Yet Another Card description. Card with link.
      </div>
    </a>
  </section>

  <section class="card">
    <header class="card-header">
      <h3 class="card-title">Reminder</h3>
    </header>
    <div class="card-content">
      Remind patients of their next appointment or vaccination
    </div>
  </section>
</div>
