<form>
  <div class="cell">
    <label>First Name *
      <input type="text" placeholder="Text Input" required>
    </label>
  </div>
  <div class="cell">
    <label>Last Name
      <input type="text" placeholder="It's a bird, it's a plane... it's a form!">
    </label>
  </div>
  <div class="cell">
    <label>Textarea
      <textarea rows="5"></textarea>
    </label>
  </div>

  <p class="help-text" id="passwordHelpText">Your password must have at least 10 characters, a number, and an Emoji.</p>
</form>
