<div class="hero complex {{modifier_class}}" role="banner">
  <div class="container">
    <header class="hero-header">
      <h1 class="hero-title">Basic Hero Title</h1>
    </header>

    <div class="hero-content">
      <div class="hero-content-primary rich-text">
        <p dir="ltr">
          Content
        </p>
      </div>

      <aside class="hero-content-secondary">
        <img src="https://www.unicef.org/sites/default/files/styles/large/public/IMGL8234.jpg"
        alt="Alt text"
        class="hero-img">
      </aside>
    </div>
  </div>
</div>
