<nav aria-label="Pagination">
  <ul class="pagination">
    <li class="pagination-previous">
      <a href="?page=2" aria-label="Previous page">
        <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/img/sprite.svg#chevron"></use></svg>
        Previous <span class="show-for-sr">page</span>
      </a>
    </li>

    <li>
      <a href="?page=1">1</a>
    </li>

    <li>
      <a href="?page=2">2</a>
    </li>

    <li class="current">
      3
    </li>

    <li>
      <a href="?page=4">4</a>
    </li>

    <li>
      <a href="?page=5">5</a>
    </li>

    <li class="pagination-next">
      <a href="?page=4" aria-label="Next page">
        Next <span class="show-for-sr">page</span>
        <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/img/sprite.svg#chevron"></use></svg>
      </a>
    </li>
  </ul>
</nav>
