<div class="block theme-{{modifier_class}}">
  <header class="block-header">
    <h2 class="block-title">Community</h2>

    <div class="block-header-text">
      <p>
        UNICEF also organized community building activities, including two RapidPro developer convening events in 2015 and 2016. These were primarily to introduce the developer community to the technical evolution of RapidPro’s architecture, and to promote a competitive, geographically diverse vendor ecosystem to ensure best-value and sustainability for UNICEF and partner governments managing or considering RapidPro-based tools.
      </p>

      <p>
        Taking inspiration from the growth of coordination and knowledge-sharing in the digital health ecosystem, and the successful dedicated communities of users around specific tools like DHIS2, OpenHIE, iHRIS, we know that the RapidPro community and the resources available to it could be strengthened even more, which would result in a more diverse and skilled set of users, better implementations and more effective use of the system in strengthening health programs.
      </p>
    </div>
  </header>

  <div class="block-actions">
    <a href="#" class="button">Join the community</a>
  </div>
</div>
