<div class="block theme-{{modifier_class}}">
  <header class="block-header">
    <h2 class="block-title">Community</h2>

    <div class="block-header-text">
      <p>
        UNICEF also organized community building activities, including two RapidPro developer convening events in 2015 and 2016. These were primarily to introduce the developer community to the technical evolution of RapidPro’s architecture, and to promote a competitive, geographically diverse vendor ecosystem to ensure best-value and sustainability for UNICEF and partner governments managing or considering RapidPro-based tools.
      </p>
    </div>
  </header>

  <div class="block-actions">
    <a href="#" class="button">Join the community</a>
  </div>
</div>
