<section class="step-pagination container">
  <div class="pagination-buttons">
    <a href="#" class="button prev">
      <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/img/sprite.svg#chevron"></use></svg>
      Preparation
    </a>

    <a href="#" class="button next">
      Critical Reflection
      <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/img/sprite.svg#chevron"></use></svg>
    </a>
  </div>

  <div class="pagination-back">
    <a href="#" class="button expanded yellow">Back to Get Started</a>
  </div>
</section>
