<section class="step-pagination container">
  <div class="pagination-buttons">
    <a href="#" class="button">
      Preparation
    </a>

    <a href="#" class="button">
      Critical Reflection
    </a>
  </div>

  <div class="pagination-back">
    <a href="#" class="button expanded yellow">Back to Get Started</a>
  </div>
</section>
