<section class="step">
  <span class="step-number">01</span>

  <h2 class="step-title">Experimentation Solutions</h2>
  <p class="step-subtitle">How could we respond?</p>

  <div class="step-content">
    <p>
      We start with an intended program outcome. State who you are trying to help, how you are hoping to serve them, and what factors in your political and technical environment should inform the solution you create.
    </p>
  </div>
</section>
