<section class="step has-detail">
  <span class="step-label">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" width="64px" height="64px">
      <g>
        <path fill="#ffffff" d="M 27.21875 4.375 L 23.8125 8.625 L 20.59375 6.1875 L 19.8125 5.625 L 19.21875 6.375 L 15.71875 10.75 L 12.4375 9.09375 L 11.65625 8.71875 L 11.15625 9.4375 L 7.75 14.5625 L 4.59375 12.1875 L 3.40625 13.8125 L 7.40625 16.8125 L 8.25 17.4375 L 8.84375 16.5625 L 12.34375 11.3125 L 15.5625 12.90625 L 16.28125 13.25 L 16.78125 12.625 L 20.1875 8.375 L 23.40625 10.8125 L 24.1875 11.375 L 24.78125 10.625 L 28.78125 5.625 Z M 27 12 L 27 28 L 29 28 L 29 12 Z M 19 15 L 19 28 L 21 28 L 21 15 Z M 11 16 L 11 28 L 13 28 L 13 16 Z M 23 17 L 23 28 L 25 28 L 25 17 Z M 3 18 L 3 28 L 5 28 L 5 18 Z M 15 18 L 15 28 L 17 28 L 17 18 Z M 7 21 L 7 28 L 9 28 L 9 21 Z "/>
      </g>
    </svg>
  </span>

  <div class="step-wrapper">
    <div class="step-wrapper-inner">
      <h2 class="step-title">Prioritize a User-Group</h2>

      <div class="step-col">
        <div class="step-content">
          <p>
            Personas are fictional characters that are used to understand the needs, values, aspirations, abilities, limitations and character traits of different users, along with the challenges they face and their desires for potential solutions. They will help your team consider designs and plans from the point of view that is not their own.
          </p>

          <p>
            The initial Key User Persona will help narrow the existing information we gather in question 2 and direct how we plan for research in question 3. After research we will revisit the Key User Persona and create additional personas to represent their interactions with community leaders, mothers, HCWs, CHWs, and other key players.
          </p>

          <p>
            Determine realistic combinations of characteristics that together could form a single person. A persona is developed from a range of different sources, pulling together common characteristics of similar people into an “archetype” through which a group can be understood.
          </p>
        </div>
      </div>

      <div class="step-col">
        <p class="step-subtitle">Tools</p>
        <a href="#" class="button expanded">
          Key User Persona Tools
        </a>

        <a href="#" class="button expanded">
          RapidPro User Activity
        </a>

        <p class="step-subtitle">Examples</p>
        <a href="#" class="button expanded">
          Link to Document
        </a>
      </div>
    </div>
  </div>
</section>
