<div
  class="subpage-hero {{ modifier_class }}"
  role="banner">
  <div class="container">
    <header class="subpage-hero-header">
      <a
        href="#"
        class="breadcrumb-back">Back to <span class="breadcrumb-parent">parent</span></a>

      <span class="subtitle">The Americas and Caribbean</span>
      <h1 class="hero-title">mVaccination</h1>
    </header>

    <div class="subpage-hero-content">
    {{#if_equal modifier_class "has-icon"}}
      <aside
        class="hero-icon"
        aria-hidden="true">
        <svg class="icon "><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/img/sprite.svg#ambulance"></use></svg>
      </aside>
    {{else}}
    <img
      src="https://ll-unicef-rph.s3.amazonaws.com/filer_public_thumbnails/filer_public/7e/62/7e627575-f9fb-4fcc-9c1e-944d379f6436/_unicef_un034626_lemoyne.jpg__1000x750_q85_crop_subsampling-2.jpg"
      alt="Alt Text"
      class="hero-img">

    {{/if_equal}}
    </div>
  </div>
</div>
