{% extends 'base.html' %}

{% load cms_tags %}

{% block base_content %}
<div
  class="hero"
  role="banner">
  <div class="container">
    <header class="hero-header">
      <h1 class="hero-title">{% page_attribute page_title %}</h1>
    </header>
  </div>
</div>

<div class="case-study-search">
  <div class="case-study-search-filters">
    <h5>Filter by</h5>

    {% for use_case in use_cases %}
      <a href="?{{ use_case.url }}"><input type=checkbox disabled{% if use_case.selected %} checked{% endif %}> {{ use_case }}</a><br />
    {% endfor %}
  </div>

  <div class="case-study-search-results">
    <div class="card-grid">
      {% for case in similar_case_studies %}
        {% include 'includes/case_study_card.html' %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
