{% extends 'base.html' %}

{% load cms_tags %}
{% load thumbnail %}

{% block base_content %}
<div
  class="hero complex dark{% if instance.image %} has-img{% endif %}"
  role="banner">
  <div class="container">
    <header class="hero-header">
      {# current_page is actually the parent page containing this apphook #}
      <a
        href="{{ current_page.get_absolute_url }}"
        class="breadcrumb-back">Back to <span class="breadcrumb-parent">{{ current_page }}</span></a>

      <span class="subtitle">{{ object.country.name }}</span>
      <h1 class="hero-title">{{ object.heading }}</h1>
    </header>

    <div class="hero-content">
      <div class="hero-content-primary rich-text">
        {{ body|safe }}
      </div>

      {% if instance.image %}
      <aside class="hero-content-secondary">
        <img
          src="{% thumbnail instance.image 1000x750 crop %}"
          alt="{{ instance.image.alt_text }}"
          class="hero-img">
      </aside>
      {% endif %}
    </div>

    <div class="hero-sub-content">
      {% for tag in object.tags.all %}<span>{{ tag }}</span>{% endfor %}
    </div>
  </div>
</div>

<div class="container content-wsidebar sidebar-right">
  <div class="content rich-text">
    {% render_placeholder object.main_content %}
  </div>

  <div class="sidebar rich-text">
    <aside>
      {% render_placeholder object.stats_content %}
    </aside>

    {% render_placeholder object.sidebar_content %}
  </div>
</div>


{% if similar_case_studies %}
<div class="case-study-similar-examples">
  <div class="container">
    <h5 class="block-header">View similar examples</h5>

    <div class="card-grid">
      {% for case in similar_case_studies %}
        {% include 'case_studies/includes/case_study_card.html' %}
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
