{% extends 'base.html' %}

{% load cms_tags %}
{% load thumbnail %}

{% block base_content %}
<div
  class="hero"
  role="banner">
  <div class="container">
    <header class="hero-header">
      <h1 class="hero-title">{% page_attribute page_title %}</h1>
    </header>
  </div>
</div>

<div class="case-study-search">
  <div class="case-study-search-filters">
    All tags for filtering:
    {{ tags }}
  </div>

  <div class="case-study-search-results">
    <div class="card-grid">
      {% for case in casestudy_list %}
      <article class="card has-img">
        <header class="card-header">
          <img
            src="{% thumbnail instance.image 1000x750 %}"
            alt="{{ instance.image.alt_text }}"
            class="card-img">

            <span class="subtitle">{{ case.country.name }}</span>
            <h1 class="card-title">{{ case.heading }}</h1>
        </header>

        <div class="card-content">
          Tags: {% for tag in object.tags.all %}<span>{{ tag }}</span>{% endfor %}
        </div>

        <div class="card-actions">
          <a href="{{ case.get_absolute_url }}">View Case Study</a>
        </div>
      </article>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
