{% extends 'base.html' %}
{% load cms_tags %}
{% load staticfiles %}

{% block base_content %}
<div
  class="hero"
  role="banner">
  <div class="container">
    <header class="hero-header">
      <h1 class="hero-title">{% page_attribute page_title %}</h1>
    </header>
  </div>
</div>

<div class="case-study-search">
  <div class="case-study-search-filters no-js-cs" data-accordion data-multi-expand="true" data-allow-all-closed="true">
    {% if use_cases %}
    <div class="case-study-search-wrapper {% if use_cases_filtered %}is-active{% endif %}" data-accordion-item>
      <a href="#" class="case-study-search-heading">
        Filter by Use Case
      </a>

      <ul class="case-study-search-list" data-tab-content>
        {% for use_case in use_cases %}
        <li id="uc_{{ use_case|slugify }}"
            class="case-study-search-item"
            data-link="?{{ use_case.url }}">
          <input
            id="{{ use_case|slugify }}"
            type="checkbox" {% if use_case.selected %} checked{% endif %} />
          <label
            for="{{ use_case|slugify }}"
            class="case-study-search-label">{{ use_case }}</label>
          <a href="?{{ use_case.url }}" class="case-study-search-link">{{ use_case }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if regions %}
    <div class="case-study-search-wrapper {% if regions_filtered %}is-active{% endif %}" data-accordion-item>
      <a href="#" class="case-study-search-heading">
        Filter by Country
      </a>

      <ul class="case-study-search-list" data-tab-content>
        {% for region in regions %}
        <li id="r_{{ region.name|slugify }}"
            class="case-study-search-item"
            data-link="?{{ region.url }}">
          <input
            id="{{ region.name|slugify }}"
            type="checkbox" {% if region.selected %} checked{% endif %} />
          <label
            for="{{ region.name|slugify }}"
            class="case-study-search-label">{{ region.name }}</label>
          <a href="?{{ region.url }}" class="case-study-search-link">{{ region.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if is_filtered %}
    <a href="{{ current_page.get_absolute_url }}" class="case-study-search-clear button small yellow">Clear all filters</a>
    {% endif %}
  </div>

  <div class="case-study-search-results">
    <div class="card-grid">
      {% for case in casestudy_list %}
        {% include 'case_studies/includes/case_study_card.html' %}
      {% endfor %}
    </div>

    {% if is_paginated %}
    <div class="pagination">
      <span class="page-links">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="page-current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
      </span>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block js %}
  {{ block.super }}

  {% if regions or use_cases %}
  <script type="text/javascript">
    $(document).ready(function() {
      // Opts user into better experience if their browser can handle jquery
      $('.case-study-search-filters').removeClass('no-js-cs').addClass('js-cs');

      {% for region in regions %}
        $('#r_{{ region.name|slugify }}').click(function () {
          window.location.href = $('#r_{{ region.name|slugify }}').data('link');
        });
      {% endfor %}

      {% for use_case in use_cases %}
        $('#uc_{{ use_case|slugify }}').click(function () {
          window.location.href = $('#uc_{{ use_case|slugify }}').data('link');
        });
      {% endfor %}
    });
  </script>
  {% endif %}
{% endblock js %}
