{% extends 'base.html' %}

{% load cms_tags %}
{% load thumbnail %}

{% block body_classes %}case-study-page{% endblock %}

{% block base_content %}
<div
  class="subpage-hero has-img"
  role="banner">
  <div class="container">
    <header class="subpage-hero-header">
      {# current_page is actually the parent page containing this apphook #}
      <a
        href="{{ current_page.get_absolute_url }}"
        class="breadcrumb-back">Back to <span class="breadcrumb-parent">{{ current_page }}</span></a>

      <span class="subtitle">{{ object.get_region_display }}</span>
      <h1 class="hero-title">{{ object.heading }}</h1>
    </header>

    <div class="subpage-hero-content">
      {% if object.featured_image %}
      <img
        src="{% thumbnail object.featured_image 1000x750 crop %}"
        alt="{{ object.featured_image.alt_text }}"
        class="hero-img">
      {% endif %}
    </div>
  </div>
</div>

<div class="container content-wsidebar sidebar-right">
  <div class="content rich-text">
    <div class="hero-content-primary">
      {% render_placeholder object.lead_content %}
    </div>

    <p class="taglist">
      {% for tag in object.use_cases.all %}
      <span>{{ tag }}</span> {% if not forloop.last %}/{% endif %}
      {% endfor %}
    </p>

    {% render_placeholder object.main_content %}
  </div>

  <div class="sidebar rich-text">
    <aside class="stats-content">
      {% render_placeholder object.stats_content %}
    </aside>

    <aside class="related-content">
      {% render_placeholder object.sidebar_content %}
    </aside>
  </div>
</div>


{% if similar_case_studies %}
<div class="case-study-similar-examples">
  <div class="container">
    <h3 class="block-header">Similar Case Studies</h3>

    <div class="card-grid">
      {% for case in similar_case_studies %}
        {% include 'case_studies/includes/case_study_card.html' %}
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
