//
// Blockquotes
//
// Markup: blockquote.hbs
//
// Style guide: Components.blockquote
//

.blockquote {
  margin: 0;
  padding: $blockquote-padding;
  padding-top: 3rem;
  border: $blockquote-border;
  background-image: url(/static/img/quote.svg);
  background-color: $color-yellow;
  background-position: $blockquote-padding 0;
  background-repeat: no-repeat;

  .icon {
    position: absolute;
    top: 0;
    margin-bottom: 0;
  }
}

.blockquote-content {
  font-family: $header-font-family;
  font-size: 1.15rem;
  line-height: 1.5;
}

.blockquote-author {
  font-style: normal;
  line-height: 1.7;
}

.blockquote-author-name {
  display: block;
  margin: 0.25rem 0;
  font-weight: $global-weight-bold;
}

.blockquote-author-title {
  display: block;
  margin: 0;
  font-size: 0.7rem;
}
