//
// Breadcrumbs
//
// Markup: breadcrumb.hbs
//
// Style guide: Components.breadcrumbs
//

.breadcrumb-back {
  position: relative;
  font-size: 0.6875rem;

  @include reverse-link-effects;

  &,
  &:hover {
    color: $black;
  }

  &:before {
    position: relative;
    top: .05em;
    display: inline-block;
    margin-right: .4rem;
    width: 0;
    height: 0;
    border-top: .4em solid transparent;
    border-right: .7em solid currentColor;
    border-bottom: .4em solid transparent;
    content: "";
  }
}

.breadcrumb-parent {
  text-transform: uppercase;
}
