// Buttons
//
// Markup: ../../../../docs/styleguide/buttons.html
//
// Weight: 1
//
// Style guide: buttons
//
// @group Buttons
//
// Markup:
//  <button class="button">{{ instance.link_text }}</button>


.button {
  border-bottom: 3px solid #9F3156;
  font-weight: $global-weight-bold;
  text-transform: uppercase;
}
