//
// Buttons
//
// Markup: button.hbs
//
// Style guide: Base.button
//


.button {
  border-bottom: 3px solid #9F3156;
  font-weight: $global-weight-bold;
  text-decoration: none;
  text-transform: uppercase;
}
