//
// Cards
//
// To be used with .card-grid
//
// Markup: components/card.hbs
//
// Weight: 5
//
// .light       - light version
// .dark        - dark version
//
// Style guide: Components.card
//

.card {
  padding: $global-margin;
}

.card-header {
  @include bottom-space;
  display: flex;
  align-items: center;
}

.card-header .icon {
  margin-right: $global-margin * 1.25;
  width: 38px;
  height: 38px;
}

.card-title {
  font-size: 1.2rem;
}

.card-header .icon + .card-title {
  margin-bottom: 0;
}

.card-content {
  @include bottomless;
  font-size: .9rem;
}

.card-actions {
  margin-top: $global-margin;

  * {
    margin-bottom: 0;
  }
}

// Image Card
.card.has-img {
  padding: 0 0 $global-margin;

  .card-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .card-img {
    order: 0;
    margin-bottom: $global-margin;
  }

  .card-content,
  .card-actions,
  .card-title {
    padding: 0 $global-margin;
  }

  .card-title {
    margin-bottom: 0;
  }
}

// Card Themes
.card.light {
  background: $color-yellow;

  .icon {
    color: #D44673;
  }
}

.card.dark {
  background: $color-beige;
}

.card.light,
.card.dark {
  .icon {
    color: #D44673;
  }
}
