//
// Pagination
//
// Markup: pagination.hbs
//
// Style guide: Components.pagination
//

.step-pagination {
  @include xy-cell($size: full, $gutters: 0);
  @include xy-grid;
}

.pagination-buttons {
  @include xy-cell($size: full, $gutters: 0);

  .button {
    @include xy-cell($size: 6, $gutters: $global-margin);
  }

  .button:first-child {
    margin-right: 0;
    margin-left: 0;
  }

  .button:last-child {
    margin-right: 0;
    margin-left: $global-margin * 2;
  }
}

.pagination-back {
  @include xy-cell($size: full, $gutters: 0);

  .button {
    text-transform: none;
  }
}

@include breakpoint(medium) {
  .pagination-buttons {
    @include xy-cell($size: 8, $gutters: 0);

    .button:last-child {
      margin-left: $global-margin;
    }
  }

  .step-pagination {
    justify-content: space-between;
  }

  .pagination-back {
    @include xy-cell($size: 4);
    margin-right: 0;
  }
}

@include breakpoint(xlarge) {
  .pagination-back {
    @include xy-cell($size: 3, $gutters: 0);
  }

  .pagination-buttons {
    padding-left: $step-horizontal-offset;
  }
}
