//
// Step
//
// Markup: step.hbs
//
// Style guide: Components.step
//

.step {
  @include xy-cell($size: 12, $gutters: 0);
  margin: $global-margin 0;
}

.step-wrapper-inner {
  @include xy-grid;
  padding: 2rem;
  background-color: $color-yellow;
}

.step-label {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  width: $step-label-size;
  height: $step-label-size;

  background-color: $color-teal;

  font-family: $header-font-family;
  font-size: 3.25rem;
  color: $color-white;
  letter-spacing: -0.15rem;
}

.step-title {
  width: 100%;
  font-size: 1.75rem;
}

.step-title a {
  text-decoration: none;
  color: $color-navy;

  &:hover {
    color: darken($color-navy-light, 10%);
  }
}

.step-subtitle {
  margin-bottom: $global-margin;
  font-family: $header-font-family;
  font-size: 1.25rem;
  color: $color-navy-light;

  p {
    line-height: 1.4;
  }
}

.step-content {
  font-size: 0.9375rem;
  line-height: 1.5;
}

.step-button.button {
  margin-top: $global-margin;
}

//
// Step Detail
//
// Markup: step-detail.hbs
//
// Use `.has-detail` class.
//
// Style guide: Components.step-detail
//

.step.has-detail {
  .step-label .icon {
    width: 50px;
    height: 50px;
  }

  .step-subtitle {
    margin-top: $global-margin * 2;
    min-height: auto;
    font-weight: 600;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .button {
    font-family: $body-font-family;
    font-weight: 400;
    text-align: left;
    text-transform: none;
  }
}

@include breakpoint(large) {
  .step-wrapper {
    z-index: 2;
    margin-top: -$step-label-size;
    padding-top: $step-vertical-offset;
    padding-left: $step-horizontal-offset;
  }

  .step-wrapper-inner {
    padding: 2rem 2.5rem 2rem 5rem;
  }

  .step-label {
    z-index: 3;
  }
}

@include breakpoint(xlarge) {
  .step-col {
    @include xy-cell(6);

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .step.has-detail .step-col:last-of-type {
    @include xy-cell(5);
    @include xy-cell-offset(1);
  }

  .step-content,
  .step-subtitle {
    min-height: 5.75rem;
  }

  .step-button.button {
    margin-top: -$global-margin;
  }
}
