//
// Step
//
// Markup: step.hbs
//
// Style guide: Components.step
//

.step {
  display: grid;
  margin: 20px 0;
  grid-template-columns: 80px auto auto;
  grid-template-rows: 25px auto auto;
}

// TODO: Vendor prefix flexbox and CSS Grid for browser compatibilty
.step-wrapper {
  @include xy-grid;
  z-index: 2;
  padding: 2rem 2.5rem 2rem 5rem;
  background-color: $color-yellow;
  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row-start: 2;
  grid-row-end: span 3;
}

.step-label {
  z-index: 3;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: $step-label-size;
  height: $step-label-size;
  background-color: $color-teal;
  font-family: $header-font-family;
  font-size: 3.25rem;
  color: $color-white;
  letter-spacing: -0.15rem;
}

.step-col {
  @include xy-cell(6);

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.step-title {
  width: 100%;
  font-size: 1.75rem;
}

.step-title a {
  text-decoration: none;
  color: $color-navy;

  &:hover {
    color: darken($color-navy-light, 10%);
  }
}

.step-subtitle {
  min-height: 5.75rem;
  font-family: $header-font-family;
  font-size: 1.25rem;
  color: $color-navy-light;

  p {
    line-height: 1.4;
  }
}

.step-content {
  font-size: 0.9375rem;
  line-height: 1.5;
}

//
// Step Detail
//
// Markup: step-detail.hbs
//
// Use `.has-detail` class.
//
// Style guide: Components.step-detail
//

.step.has-detail {
  .step-label {
    padding: 45px;
  }

  .step-col:last-of-type {
    @include xy-cell(5);
    @include xy-cell-offset(1);
  }

  .step-subtitle {
    margin-top: 2rem;
    min-height: auto;
    font-weight: 600;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .button {
    font-family: $body-font-family;
    font-weight: 400;
    text-align: left;
    text-transform: none;
  }
}
