{% load thumbnail %}

<article class="card light has-img">
  <header class="card-header">
    <img
      src="{% thumbnail case.featured_image 1000x750 %}"
      alt="{{ case.featured_image.alt_text }}"
      class="card-img">
      <span class="card-subtitle">{{ case.get_region_display }}</span>

      <h1 class="card-title">
        <a href="{{ case.get_absolute_url }}">
          {{ case.heading }}
        </a>
      </h1>
  </header>

  {% if case.tags %}
  <div class="card-content">
    {% for tag in case.tags.all %}<span>{{ tag }}</span>{% endfor %}
  </div>
  {% endif %}

  <div class="card-actions">
    <a href="{{ case.get_absolute_url }}" class="button small">View Case Study</a>
  </div>
</article>
