{% load cms_tags %}
{% load thumbnail %}

<div class="block theme-dark">
  <div class="container">
    {% if not instance.get_plugin_class_instance.disable_child_plugins %}
    {% if instance.child_plugin_instances %}
    <div class="featured-accordion">
      <div class="featured-accordion-content" data-tabs-content="featuredAccordion">
        {% for plugin in instance.child_plugin_instances %}
        <div class="tabs-panel featured-accordion-panel {% if forloop.first %}is-active{% endif %}"
             id="card{{ forloop.counter }}"
             style="background-image: url('{% thumbnail plugin.image "1000x750" %}');">
        </div>
        {% endfor %}
      </div>

      <ul class="featured-accordion-cards" data-tabs id="featuredAccordion">
      {% for plugin in instance.child_plugin_instances %}
        {% render_plugin plugin %}
      {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endif %}
  </div>
</div>
