{% load cms_tags %}
{% load thumbnail %}

<li class="tabs-title card light {% if forloop.first %}is-active{% endif %}" {% if forloop.first %}aria-selected="true"{% endif %}>
  <a data-tabs-target="card{{ forloop.counter }}" href="#card{{ forloop.counter }}">
    <header class="card-header">
      <h3 class="card-title">{{ instance.title }}</h3>
    </header>

    <div class="card-content">
      content
    </div>

    {% if instance.get_link %}
    <div class="card-actions">
      {% include 'includes/link.html' %}
    </div>
    {% endif %}
  </a>
</li>
