{% with fallback=instance.get_parent.content_cardgrid.style %}
{% with card_class=card_class|default:fallback %}
<section class="card {{ card_class }}">
{% with fallback=instance.get_link %}
{% with link=link|default:fallback %}
{% if link %}
<a href="{{ link }}">
{% endif %}
  <header class="card-header">
    {% with fallback=instance.svg_icon %}
    {% include 'includes/svg_icon.html' with icon_name=icon_name|default:fallback %}
    {% endwith %}
    {% with fallback=instance.title %}
    <h3 class="card-title">{{ title|default:fallback }}</h3>
    {% endwith %}
  </header>

  {% with fallback=instance.body|safe %}
  {% with description=description|default:fallback %}
  {% if description %}
  <div class="card-content">
    {{ description }}
  </div>
  {% endif %}
  {% endwith %}
  {% endwith %}
{% if link %}
</a>
{% endif %}
{% endwith %}
{% endwith %}
</section>
{% endwith %}
{% endwith %}
