{% load cms_tags %}

<div class="card-grid">
  {% comment %}
    When we're building from the page tree.
  {% endcomment %}
  {# TODO: Whole card should be linkable #}
  {# TODO: Use template #}
  {% for page in instance.get_published_child_pages %}
    <a href="{{ page.get_absolute_url }}">
    <section class="card">
      {% include 'includes/svg_icon.html' with icon_name=page.metaattributes.svg_icon %}
      <header class="card-header">
        <h3 class="card-title">{{ page.get_title }}</h3>
      </header>
      <div class="card-content">
        {{ page.metaattributes.description }}
      </div>
    </section>
    </a>
  {% endfor %}

  {% comment %}
    When we're building manually
  {% endcomment %}
  {% for plugin in instance.child_plugin_instances %}
    {% render_plugin plugin %}
  {% endfor %}
</div>
