{% load cms_tags %}
{% load thumbnail %}

<div
  class="hero
  {% if instance.image %}complex{% endif %}
  {% if instance.child_plugin_instances %}has-cards{% endif %}"
  role="banner">
  <div class="container">
    <header class="hero-header">
      <h1 class="hero-title">{{ instance.title }}</h1>
    </header>

    <div class="hero-content">
      <div class="hero-content-primary rich-text">
        {{ body|safe }}
      </div>

      {% if instance.image %}
      <aside class="hero-content-secondary">
        <img
          src="{% thumbnail instance.image 1000x750 crop %}"
          alt="{{ instance.image.alt_text }}"
          class="hero-img">
      </aside>
      {% endif %}

      {% if not instance.get_plugin_class_instance.disable_child_plugins %}
      {% if instance.child_plugin_instances %}
        <div class="hero-content-cards">
          {% for plugin in instance.child_plugin_instances %}
            {% render_plugin plugin %}
          {% endfor %}
        </div>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>
