{% load cms_tags %}
{% load thumbnail %}

<div
  class="hero complex {% if not instance.get_plugin_class_instance.disable_child_plugins %}{% endif %}"
  role="banner">
  <div class="container">
    <header class="hero-header">
      <h1 class="hero-title">{{ instance.title }}</h1>
    </header>

    <div class="hero-content">
      <div class="hero-content-primary rich-text">
        {{ body|safe }}
      </div>

      {% if instance.image %}
      <aside class="hero-content-secondary">
        <img
          data-interchange="[{% thumbnail instance.image "1280x960" %}, small],
          [{% thumbnail instance.image "1000x750" %}, medium]"
          alt="{{ instance.image.alt_text }}">
      </aside>
      {% endif %}

      {% if not instance.get_plugin_class_instance.disable_child_plugins %}
        <div class="hero-content-cards">
          {% for plugin in instance.child_plugin_instances %}
            {% render_plugin plugin %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
