{% load cms_tags %}
{% load thumbnail %}

<section class="card has-img">
  <header class="card-header">
    {% if instance.image %}
      {% if instance.get_link %}
        <a href="{{ instance.get_link }}">
      {% endif %}
      <img
        src="{% thumbnail instance.image 1000x750 %}"
        alt="{{ instance.image.alt_text }}"
        class="card-img">
      {% if instance.get_link %}
        </a>
      {% endif %}
    {% endif %}

    <h3 class="card-title">
      <a href="{{ instance.get_link }}">
        {{ instance.title }}
      </a>
    </h3>
  </header>

  <div class="card-content">
    {{ instance.body|safe }}
  </div>

  {% if instance.get_link %}
  <div class="card-footer">
    <div class="card-actions">
      {% include 'includes/link.html' %}
    </div>
  </div>
  {% endif %}
</section>
