{% load cms_tags %}

<div class="block">
  <header
    class="block-header">
    <h2 class="block-title">{{ instance.title }}</h2>

    {% comment %}
    <div class="block-header-lead">
      {# TODO: Support Image #}
    </div>
    {% endcomment %}

    <div class="block-header-text">
      {{ body|safe }}
    </div>
  </header>

  <div class="block-content">
  {% if not instance.get_plugin_class_instance.disable_child_plugins %}
    {% for plugin in instance.child_plugin_instances %}
      {% render_plugin plugin %}
    {% endfor %}
  {% endif %}
  </div>

  <div class="block-actions">
    {% include 'includes/link.html' %}
  </div>
</div>
