{% load cms_tags %}
{% load thumbnail %}

<div class="block theme-{{ instance.style }}">
  <header
  class="block-header">
  <h2 class="block-title">{{ instance.title }}</h2>

  {% if instance.image %}
  <div class="block-header-lead">
    {% with img=instance.image %}
      <img
      src="{% thumbnail img 300x300 crop %}"
      alt="{{ img.alt_text }}">
    {% endwith %}
  </div>
  {% endif %}

    <div class="block-header-text">
    {{ body|safe }}
    </div>
  </header>

  {% with child_plugins=instance.unbound_child_plugin_instances %}
    {% if child_plugins %}
    <div class="block-content">
      {% for plugin in child_plugins %}
        {% render_plugin plugin %}
      {% endfor %}
    </div>
    {% endif %}
  {% endwith %}

  {% if instance.get_link %}
  <div class="block-actions">
    {% include 'includes/link.html' %}
  </div>
  {% endif %}
</div>
