<div class="block">
  <header class="block-header">
    <h2 class="block-title">Title</h2>

    <div class="block-header-text">
      Header Text
    </div>
  </header>

  <div class="block-content">
    Content
  </div>

  <div class="block-actions">
      <button class="button">Button</button>
  </div>
</div>
