//
// Buttons
//
// Markup: components/button.hbs
//
// .tiny       - Tiny button
// .small      - Small button
// .large      - Large version
// .expanded   - Expanded
// .yellow     - Yellow Button
// .icon       - Icon button
//
// Style guide: Base.button
//


.button {
  box-shadow: inset 0 -2px 0 #9F3156;
  border: none;
  font-weight: $global-weight-bold;
  text-decoration: none;
  text-transform: uppercase;
}

.button.yellow {
  box-shadow: none;
  background-color: $color-yellow;
  color: $color-navy-light;
}

.button.icon {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 5px;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  color: $color-white;
  cursor: pointer;
}
