/*
  GLOBALS
*/

// Generate basic block themes
@include generate-block-themes;


// CMS shims
.cms-toolbar-expanded {
  $cms-nav-height: 52px;

  #cms-top { // sass-lint:disable-line no-ids
    margin-top: $cms-nav-height;
  }

  .off-canvas {
    top: $cms-nav-height;
  }
}

// Long form content styles. Anywhere there is a WYSIWYG editor.
.rich-text {
  h2 {
    @extend %heading-bar;
  }

  h3 {
    color: #597C82; // TODO: Config
  }
}

.imglink,
.imginline {
  margin-bottom: $global-margin;
}

.icon {
  fill: currentColor;
}

.site-main > .img-responsive {
  width: 100%;
}
