/*
  GLOBALS
*/

// Generate basic block themes
@include generate-block-themes;


// CMS shims
.cms-toolbar-expanded {
  $cms-nav-height: 52px;

  #cms-top { // sass-lint:disable-line no-ids
    margin-top: $cms-nav-height;
  }

  .off-canvas {
    top: $cms-nav-height;
  }
}

// Long form content styles. Anywhere there is a WYSIWYG editor.
.rich-text {
  h2 {
    @extend %heading-bar;
  }

  h3 {
    color: $color-navy-light;
  }

  a {
    border-bottom: 3px solid $color-beige-dark;
  }

  a:hover {
    border-bottom: none;
  }

  li {
    margin-bottom: .5rem;
  }
}

.img {
  margin-bottom: $global-margin;

  // Image inside of a link
  .imglink & {
    margin-bottom: 0;
  }
}

.site-main > .img-responsive {
  width: 100%;
}

.icon {
  fill: currentColor;
}
