//
// Typography
//
// Markup: typography.hbs
//
// Style guide: Base.typography
//

h1,
h2,
h3 {
  line-height: 1.2;
}

.lead,
.lead p {
  font-family: $header-font-family;
  font-size: 1.25rem;
  line-height: 1.5;
  color: $color-navy-light;
}
