//
// Typography
//
// Markup: typography.hbs
//
// Style guide: Base.typography
//

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  font-size: 3.25rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.25rem;
}
