{% extends "admin/base_site.html" %}

{% load staticfiles %}
{% load icon_tags %}

{% block footer %}
  {{ block.super }}

  {# Custom Admin Javascript #}
  <script type="text/javascript">
      {% get_uploaded_icon_list as custom_svg_icons %}
      window.rh = window.rh ? window.rh : {};
      window.rh.uploadedSvgIcons = {{ custom_svg_icons|safe }};
  </script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <script>
  if (window.jQuery){
    var window$ = window.jQuery;
  }
  if ( window.django ){
    window.$ = window.jQuery = window.django.jQuery;
  }
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <script type="text/javascript" src="{% static 'admin/iconSelector.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/extensions.js' %}"></script>
  <script>
  if( window$ ){
    window.$ = window.jQuery = window$;
  }
  </script>

{% endblock %}

