{% extends "admin/change_form.html" %}

{% comment %}

  Regular Django Admin change form template but this one adds
  a little button to the bottom, to switch to the CMS edit view.

{% endcomment %}

{% block after_related_objects %}
  {{ block.super }}
  <fieldset class="module aligned">
    <div class="form-row field-tags">
      <div>
        <label for="id_tags">Content:</label>
        <div class="related-widget-wrapper">
          <button class="button cms-change-button" type="submit" name="_cms_change" target="_top">Click here to save all changes and<br>switch to the CMS to add document content</button>
        </div>
      </div>
    </div>
  </fieldset>
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script>
  // Get out of the Django-CMS Sidecar (Admin slide-in iframe)
  django.jQuery(document).ready(function(){
     django.jQuery('#{{ opts.model_name }}_form').attr('target', '_top');
  });
  </script>
{% endblock %}
