/*
  GLOBALS
*/


// CMS shims
.cms-toolbar-expanded {
  $cms-nav-height: 52px;

  #cms-top { // sass-lint:disable-line no-ids
    margin-top: $cms-nav-height;
  }

  .off-canvas {
    top: $cms-nav-height;
  }
}

.container {
  @include container;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

// Long form content styles. Anywhere there is a WYSIWYG editor.
.rich-text {
  h2 {
    @extend %heading-bar;
  }

  h3 {
    color: #597C82; // TODO: Config
  }
}

.breadcrumb-back {
  position: relative;
  font-size: .9rem;

  @include reverse-link-effects;

  &,
  &:hover {
    color: $black;
  }

  &:before {
    position: relative;
    top: .05em;
    display: inline-block;
    margin-right: .4rem;
    width: 0;
    height: 0;
    border-color: transparent currentColor transparent transparent;
    border-style: solid;
    border-width: .4em .7em .4em 0;
    content: "";
  }
}

.icon {
  fill: currentColor;
}
