/*
  GLOBALS
*/


// CMS shims
.cms-toolbar-expanded {
  $cms-nav-height: 52px;

  #cms-top { // sass-lint:disable-line no-ids
    margin-top: $cms-nav-height;
  }

  .off-canvas {
    top: $cms-nav-height;
  }
}

.container {
  @include container;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

// Long form content styles. Anywhere there is a WYSIWYG editor.
.rich-text {
  h2 {
    @extend %heading-bar;
  }

  h3 {
    color: #597C82; // TODO: Config
  }
}

.breadcrumb-back {
  position: relative;
  font-size: .9rem;

  @include reverse-link-effects;

  &,
  &:hover {
    color: $black;
  }

  &:before {
    position: relative;
    top: .05em;
    display: inline-block;
    margin-right: .4rem;
    width: 0;
    height: 0;
    border-top: .4em solid transparent;
    border-right: .7em solid currentColor;
    border-bottom: .4em solid transparent;
    content: "";
  }
}

.icon {
  fill: currentColor;
}


// Layout Helpers
.two-col {
  @include breakpoint(large) {
    .sidebar {
      order: 0;
      @include xy-cell(4);
    }

    .content {
      order: 1;
      @include xy-cell(7);
      @include xy-cell-offset(1);
    }
  }
}

.subpage {
  .site-main {
    @include bottom-space(3);
  }

  .hero.has-icon {
    @include bottom-space;

    @include breakpoint(medium) {
      @include bottom-space(4);
    }
  }
}
