//
// Mixins
//

/// Keep spacing DRY
/// @param {Number} $multiplier Multiplier to use for calculation
@mixin bottom-space($multiplier: 1) {
  margin-bottom: $global-margin * $multiplier;
}

/// Removes trailing space at the bottom of elements.
@mixin bottomless {
  & > *:last-child {
    margin-bottom: 0;
  }
}

/// Sets up basic background/foreground and link theme support for block
/// (full-width) elements.
/// @param {Map} $colors The map of colors to run through
// TODO: May be unnecessary
@mixin generate-block-themes($colors: $palette) {
  @each $name, $color in $palette {
    .theme-#{$name} {
      background-color: $color;
    }
  }
}

/// Collapses gutters on wrappers
@mixin collapse-gutters($type: padding) {
  #{$type}-right: 0;
  #{$type}-left: 0;
}

/// General wrapper for grid elements
@mixin container {
  @include xy-grid-container;
  @include xy-grid;
}

/// Returns onyx or white depending on color argument. Useful for determining
/// foreground color depending on background color.
/// @param {Color} $color Reference color to check
/// @return {Color} Color to use
@function contrast-color($color) {
  @if lightness($color) > 50 {
    // Lighter background, return dark color
    @return $body-font-color;
  } @else {
    // Darker background, return light color
    @return $color-white;
  }
}

/// Applies a treatment to images. Design aesthetic
/// used throughout the interface.
@mixin media-effect {
  border: $media-effect;
}

/// Reverse anchors. Makes anchors have no underline by default, but makes one
/// appear on hover.
@mixin reverse-link-effects {
  &:not(.button) {
    // none
    text-decoration: $anchor-text-decoration-hover;
  }

  &:active,
  &:hover,
  &:focus {
    // underline
    text-decoration: $anchor-text-decoration;
  }
}

/// Mixin to create a topographic background on a block element.
/// Takes parameters $color and $image, from /static/img/.
@mixin topographic-background($color, $image) {
  position: relative;

  > * {
    position: relative;
    z-index: 1;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: url(/static/img/#{$image});
    background-color: $color;
    content: "";
  }
}


/*
  PLACEHOLDERS
*/

%nav-item {
  position: relative;
  font-family: $navigation-font-family;
  font-size: 0.875rem;
  font-weight: $navigation-font-weight;
  text-transform: uppercase;
  letter-spacing: 0.045rem;

  &[aria-current] {
    color: $color-pink;
  }
}

%heading-bar {
  $bar-height: 4px;
  $bottom-space: #{$global-margin} * 2;
  position: relative;
  // Add double margin to compensate for space between heading and bar
  // but make sure we take bar height into consideration for good v rhythm.
  margin-bottom: calc(#{$bar-height} + #{$bottom-space});

  &:after {
    position: relative;
    bottom: $global-margin * -1;
    left: 0;
    display: block;
    width: 3rem;
    height: 4px;
    background: $brand-color-primary;
    content: "";
  }
}
