@import "../node_modules/foundation-sites/scss/foundation";

// Enable Foundation's XY Grid:
// https://foundation.zurb.com/sites/docs/xy-grid.html
$xy-grid: true;

// Media query config
$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
);

// Fonts
$body-font-family: 'Open Sans', sans-serif;
$global-weight-bold: 700;
$body-font-color: #141414;

$header-font-family: 'Titillium Web', sans-serif;
$header-font-weight: 700;

// Palette
$brand-color-primary: #FF3333;
$brand-color-secondary: #333333;

$foundation-palette: (
  primary: #1779ba,
  secondary: #767676,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);

//$light-gray
//$medium-gray
$dark-gray: #333333;
//$black
//$white

// --

$offcanvas-background: $brand-color-secondary;
$offcanvas-shadow: none;

// Style primary and off-canvas navigation
$navigation-font-family: $header-font-family;
$navigation-font-weight: $global-weight-bold;

// Set Foundation up
@include foundation-everything;

@import 'utils';
@import 'global';

// ToC Imports
@import 'components/blocks/block';
@import 'components/blocks/hero';

@import 'layout/site-header';
@import 'layout/site-footer';
