// Set Foundation up
@import "../node_modules/foundation-sites/scss/foundation";

// Enable Foundation's XY Grid:
// https://foundation.zurb.com/sites/docs/xy-grid.html
$xy-grid: true;

// Media query config
$breakpoints: (
  small: 0,
  medium: 640px,
  large: 760px,
  xlarge: 1024px,
);


$global-width: 64rem; // TODO: Verify with designs

// Colors
//
// The palette used includes brand colors, as well as colors by Foundation.
//

//$light-gray
//$medium-gray
$color-black: #191919;
$color-white: #FFFFFF;
$color-dark-gray: #333333;

$color-navy: #324955;
$color-navy-light: #597C82;
$color-red: #FF3333;
$color-pink: #D44673;
$color-teal: #53BDA6;

$color-beige:  #DCE4D7;
$color-beige-dark: #9FB9B4;
$color-yellow: #EAF0E6;

$body-background: $white;
$brand-color-primary: #C45173;
$brand-color-secondary: $color-navy;

$foundation-palette: (
  primary: $color-pink,
  secondary: $color-navy,
  success: $color-yellow,
  warning: #FFAE00,
  alert: #CC4B37,
);

$palette: (
  default: $color-white,
  light: $color-yellow,
  dark: $color-beige,
);

$button-palette: map-merge($foundation-palette, (
    yellow: $color-yellow
));

// Typography
$body-font-family: 'Open Sans', sans-serif;
$body-font-color: $color-navy;

$global-weight-bold: 700;
$global-weight-regular: 400;

$header-font-family: 'Titillium Web', sans-serif;
$header-font-weight: $global-weight-bold;
$header-margin-bottom: 1rem;

// Determines header sizing
// https://foundation.zurb.com/sites/docs/typography-base.html#header-styles
$header-styles: (
  'small': (
    'h1': ('font-size': 28),
    'h2': ('font-size': 24),
    'h3': ('font-size': 23),
    'h4': ('font-size': 22),
    'h5': ('font-size': 17),
    'h6': ('font-size': 16)
  ),
  'medium': (
    'h1': ('font-size': 48),
    'h2': ('font-size': 40),
    'h3': ('font-size': 31),
    'h4': ('font-size': 25),
    'h5': ('font-size': 20),
    'h6': ('font-size': 16)
  ),
);

// Layout
$site-footer-color: $color-navy;

$anchor-text-decoration: underline;
$anchor-text-decoration-hover: none;

$offcanvas-background: $brand-color-secondary;
$offcanvas-shadow: none;

// Style primary and off-canvas navigation
$navigation-font-family: $header-font-family;
$navigation-font-weight: $global-weight-bold;

// Buttons
$button-font-family: $header-font-family;
$button-background: $color-pink;
$button-background-hover: scale-color($button-background, $lightness: -15%);
$button-radius: 3px;

// Forms
$input-border: 1px solid #B6C9C5;
$input-border-focus: 1px solid $color-beige-dark;
$input-background: #FAFBF9;
$input-color: $color-navy;
$input-font-size: 0.875rem;
$input-shadow: none;
$input-shadow-focus: none;
$input-placeholder-color: #B6C9C5;
$input-padding: 0.8rem 0.65rem;

$helptext-color: $color-dark-gray;
$helptext-font-size: 0.6875rem;
$helptext-font-style: normal;

$form-label-color: $color-navy-light;
$form-label-font-size: 0.75rem;
$form-label-line-height: 2.25;
$input-font-family: $body-font-family;

// Card styles
$card-border: none;
$card-padding: 1.5rem;

// Blockquote styles
$blockquote-padding: 1.7rem;

// Steps
$step-label-size: 140px;
$step-horizontal-offset: 80px;
$step-vertical-offset: 25px;

// Image border effect
$media-effect: 12px solid $body-background;

@import 'foundation';

@import 'utils';

// ToC Imports
@import 'base/global';
@import 'base/typography';
@import 'base/buttons';
@import 'base/forms';

@import 'components/blockquote';
@import 'components/card';
@import 'components/step';

@import 'components/blocks/block';
@import 'components/blocks/hero';
@import 'components/blocks/card-grid';

@import 'layout/featured-accordion';
@import 'layout/case-studies';
@import 'layout/case-study-detail';
@import 'layout/case-study-filter';
@import 'layout/site-header';
@import 'layout/site-footer';
