// Set Foundation up
@import "../node_modules/foundation-sites/scss/foundation";

// Enable Foundation's XY Grid:
// https://foundation.zurb.com/sites/docs/xy-grid.html
$xy-grid: true;

// Media query config
$breakpoints: (
  small: 0,
  medium: 640px,
  large: 760px,
  xlarge: 1024px,
);

$global-width: 1100px; // TODO: Verify with designs

// Colors
//
// The palette used includes brand colors, as well as colors by Foundation.
//

//$light-gray
//$medium-gray
$color-black: #191919;
$color-white: #FFFFFF;
$color-dark-gray: #333333;

$color-navy: #324955;
$color-navy-light: #597C82;
$color-red: #FF3333;
$color-pink: #D44673;
$color-teal: #53BDA6;

$color-beige: #DCE4D7;
$color-yellow: #EAF0E6;

$body-background: $white;
$brand-color-primary: $color-red;
$brand-color-secondary: $color-navy;

$foundation-palette: (
  primary: $color-pink,
  secondary: $color-navy,
  success: $color-yellow,
  warning: #FFAE00,
  alert: #CC4B37,
);


// Typography
$body-font-family: 'Open Sans', sans-serif;
$global-weight-bold: 700;
$global-weight-regular: 400;
$body-font-color: $color-navy;

// Determines header sizing
// https://foundation.zurb.com/sites/docs/typography-base.html#header-styles
$header-styles: (
  'small': (
    'h1': ('font-size': 28),
    'h2': ('font-size': 24),
    'h3': ('font-size': 23),
    'h4': ('font-size': 22),
    'h5': ('font-size': 17),
    'h6': ('font-size': 16)
  ),
  'medium': (
    'h1': ('font-size': 48),
    'h2': ('font-size': 40),
    'h3': ('font-size': 31),
    'h4': ('font-size': 25),
    'h5': ('font-size': 20),
    'h6': ('font-size': 16)
  ),
);

$header-font-family: 'Titillium Web', sans-serif;
$header-font-weight: $global-weight-bold;
$header-margin-bottom: 1rem;



// Layout
$site-footer-color: $color-navy;

$anchor-text-decoration: underline;
$anchor-text-decoration-hover: none;

$offcanvas-background: $brand-color-secondary;
$offcanvas-shadow: none;

// Style primary and off-canvas navigation
$navigation-font-family: $header-font-family;
$navigation-font-weight: $global-weight-bold;

// Buttons
$button-font-family: $header-font-family;
$button-background: $color-pink;
$button-background-hover: scale-color($button-background, $lightness: -15%);
$button-radius: 3px;

// Card styles
$card-border: none;
$card-padding: 1.5rem;

// Blockquote styles
$blockquote-padding: 1.7rem;

// Steps
$step-label-size: 140px;

// Image border effect
$media-effect: 12px solid $body-background;

@include foundation-everything;

@import 'utils';
@import 'global';

// ToC Imports
@import 'components/blockquote';
@import 'components/buttons';
@import 'components/card';
@import 'components/step';

@import 'components/blocks/block';
@import 'components/blocks/hero';
@import 'components/blocks/card-grid';

@import 'layout/case-studies';
@import 'layout/site-header';
@import 'layout/site-footer';
