#
# Example Settings file for _local_ development.
# This file must not be committed.
#
from .base import *  # pylint: disable=W0614,W0401

DEBUG = True

SITE_ID = int(os.environ.get('SITE_ID', 1))

SECRET_KEY = 'totally secret'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'rh',
        #'USER': '',
        #'PASSWORD: '',
    },
}

# Disable SSL Treatment for local development
SECURE_SSL_REDIRECT = False
SESSION_COOKIE_SECURE = False
CSRF_COOKIE_SECURE = False
HTTPS_LINKS = False

CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.dummy.DummyCache',
    }
}

ALLOWED_HOSTS = [
    '127.0.0.1',
    'localhost',
]

INTERNAL_IPS = ['127.0.0.1']

INSTALLED_APPS += [
    'debug_toolbar',
    #'django_extensions',
]

MIDDLEWARE += [
    'debug_toolbar.middleware.DebugToolbarMiddleware',
]

# Dump emails to the console.
EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'
