{# Base template for the RapidPro for Health website #}
{% load cms_tags %}
{% load sekizai_tags %}
{% load staticfiles %}
{% load menu_tags %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

  <title>{% page_attribute 'page_title' %}</title>

  {% render_block "css" %}
  {% addtoblock 'css' %}
    <link rel="stylesheet" href="{% static 'all.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Titillium+Web:400,600,700" rel="stylesheet">
  {% endaddtoblock %}
</head>

<body class="{% block body_classes %}{% endblock %}">
{% cms_toolbar %}

<div class="off-canvas-wrapper">
  <div
    class="off-canvas position-right"
    id="offCanvas"
    data-off-canvas>
      <nav>
        <ul class="vertical menu">
          {% show_menu 1 1 0 1 "navigation/menu.html" %}
        </ul>
      </nav>
  </div>
  <div class="off-canvas-content" data-off-canvas-content>
    <header class="site-header">
      <nav class="container">
        <a href="/" class="home-link">
          <img
            src="{% static 'img/logo.svg' %}"
            alt="RapidPro Health"
            class="logo"
            />
        </a>

        <ul
          class="menu align-right">
          {% show_menu 1 1 0 1 "navigation/menu.html" %}
        </ul>

        <button
          type="button"
          class="off-canvas-toggler"
          data-toggle="offCanvas"
          aria-hidden>Menu</button>
      </nav>
    </header>

    <main class="site-main">
      {% block base_content %}
        {% placeholder 'content' %}
      {% endblock %}
    </main>

    <footer class="site-footer">
      <nav class="site-footer-primary">
        <img
          src="{% static 'img/logo-white.svg' %}"
          alt="RapidPro Health"
          class="logo"
          />

        <ul class="menu">
          {% show_menu 1 1 0 1 "navigation/menu.html" %}
        </ul>
      </nav>

      <div class="site-footer-content">
        <p>RapidPro Health provides rich data for entities all over the world.</p>
        <p><a href="mailto:info@rapidpro.com">info@rapidpro.com</a></p>
      </div>

      <div class="site-footer-aux">
        <nav>
          <ul class="menu">
            <li><a href="/terms">Terms</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
            <li><a href="/support">Support</a></li>
          </ul>
        </nav>

        <small>Copyright &copy; {% now "Y" %} UNICEF</small>
      </div>
    </footer>
  </div>
</div>


{% render_block 'js' %}
{% addtoblock 'js' %}
  <script src="{% static "all.js" %}"></script>
{% endaddtoblock %}

</body>
</html>
