//
// Block sections
//
// Markup: components/section.hbs
//
// Default section, uses `$color-white`
//
// .light       - Yellow section, uses `$color-yellow`
// .dark        - Beige section, uses `$color-beige`
//
// Style guide: Components.section
//


// Blocks represent full-width sections of pages.
// They should be self-contained.
@mixin block($base: $global-margin) {
  padding-top: $base * 2;
  padding-bottom: $base * 2;

  @include breakpoint(xlarge) {
    padding-top: $base * 3;
    padding-bottom: $base * 3;
  }
}

.block {
  @include block;
}

// Blocks are special, foundation-level components used
// throughout the site. They are boxes in which varied
// content may be placed.

.block-header,
.block-content,
.block-actions {
  @include container;
}

.block-title {
  @include bottom-space;
}

.block-header-lead {
  margin-bottom: $global-margin;
}

.block-header-text {
  @include bottomless;
}

.block-actions,
.block-content {
  margin-top: $global-margin * 2;
}


@include breakpoint(medium) {
  .block-content {
    @include collapse-gutters;
    @include bottom-space;
  }

  .block-actions {
    display: flex;
    justify-content: center;
  }

  // Cards
  .block-content .card-grid {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;

    > .card {
      @include xy-cell(6);
      flex-grow: 0;
    }
  }
}

@include breakpoint(xlarge) {
  .block-header {
    @include collapse-gutters;
    justify-content: space-between;
  }

  .block-title {
    @include xy-cell(6);
  }

  .block-header-text {
    @include xy-cell(6);
  }

  .block.has-img {
    .block-title {
      @include xy-cell(100%);
    }

    .block-header-lead {
      @include xy-cell(5);
      margin-bottom: 0;
    }
  }
}
