/*
  HERO BLOCKS
*/

.hero {
  @include block;
  background: #54A18F;
  background-image: url(/static/img/topo-1.svg);
  color: $white;

  .container {
    justify-content: center;
  }
}

.hero-header,
.hero-content {
  text-align: center;
}

.hero-header {
  @include bottom-space(2);
}

.hero-content-primary {
  @include bottomless;
}

.hero-title {
  font-weight: $global-weight-normal;
}

// With Image
.hero.has-image {
  .hero-content {
    max-width: auto;
  }
}

.hero {
  @include breakpoint(large) {
    $large-margin: $global-margin * 6;
    padding-top: $large-margin;
    padding-bottom: $large-margin;

    .container {
      @include collapse-gutters;
    }

    .hero-header,
    .hero-content {
      @include xy-cell(7);
    }
  }
}
