/*
  HERO BLOCKS
*/

.hero {
  @include block;
  background: #61C0AC;
  color: white;
}

.hero-header,
.hero-content {
  @include container;
}

.hero-header {
  @include collapse-gutters;
}

.hero-header,
.hero-content {
  text-align: center;
}

.hero-title {
  @include xy-cell($gutter-type: padding);
}

.hero-content-primary {
  @include bottomless;
}

// With Image
.hero.has-image {
  .hero-content {
    max-width: auto;
  }
}

.hero {
  @include breakpoint(large) {
    @include container;
    @include collapse-gutters;
    justify-content: center;

    .hero-header,
    .hero-content {
      @include xy-cell(7);
    }
  }
}
